<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Students</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email address</th>
                <th scope="col">Country</th>
                <th scope="col">Previous Institution</th>
                <th scope="col">Previous Degree</th>
                <th scope="col">Previous Degree Score</th>
                <th scope="col">UWindsor Student ID</th>
                <th scope="col">UWindsor Degree</th>
                <th scope="col">Uwindsor Score</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  John Smith
                </td>
                <td>
                  +1(123)456-7890
                </td>
                <td>
                  abc@example.com
                </td>
                <td>
                  Canada
                </td>
                <td>
                  Ganpat University
                </td>
                <td>
                  Bachelors
                </td>
                <td>
                  8.76 CGPA
                </td>
                <td>
                  100909099
                </td>
                <td>
                  Maters
                </td>
                <td>
                  87 %
                </td>
                <td>
                  <button type="button" class="btn btn-primary">View</button>
                  <button type="button" class="btn btn-success">Update</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>