<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 col-lg-9">
                            <h3 class="mb-0">Students</h3>
                        </div>
                        <div class="col">
                            <button type="button" class="mb-0 btn btn-success" (click)="addStudent()">Add Student</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email address</th>
                                <th scope="col">Country</th>
                                <th scope="col">Previous Institution</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let stud of studentList;">
                                <td>
                                    {{stud.fname}} {{stud.lname}}
                                </td>

                                <td>
                                    {{stud.email}}
                                </td>
                                <td>
                                    {{stud.country}}
                                </td>
                                <td>
                                    {{stud.high_degree}}
                                </td>

                                <td>
                                    <button type="button" class="btn btn-primary" (click)="viewStudent(stud._id)">View</button>
                                    <button type="button" class="btn btn-success" (click)="updateStudent(stud._id)">Update</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteStudent(stud._id)">Delete</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>